.portlet-container
{
    height: 670px;
    overflow-x:scroll;
    overflow-y:scroll;
    
}

.main-header
{
    text-align: center;
}

body
{
    overflow: hidden;
    //background:rgb(160, 157, 157);
}
.portlet
{
    //height: 600px;
    background: #eee;
    margin: 25px 100px;
    overflow:scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}