.portlet-container
{
    height: 670px;
    overflow: auto;
    
}

.main-header
{
    text-align: center;
}

body
{
    overflow: hidden;
}
.portlet
{
    height: 600px;
    background: #eee;
    margin: 25px 100px;
    resize: both;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer
{
    margin-top: 20px
}

.resizeBtn
{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin:auto
}