@import 'treeNode';
@import 'streamingApi';
$color-greay:#eee;
@mixin portlet-shadow()
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.portlet-container
{
    height: 670px;
    overflow: auto;   
}
.portlet-header
{
    padding:5px;
}
.main-header
{
    text-align: center;
}

body
{
    overflow: hidden;
}
.portlet
{
    max-height: 600px;
    background:$color-greay;
    margin: 25px 100px;
    resize: both;
    overflow: auto;
    @include portlet-shadow;
}

.footer
{
    margin-top: 20px
}
.fixed-div
{
 position:fixed;
}
.tree-div
{
    margin:5px;
}
.resizeBtn
{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin:auto
}