.stream-data-div
{
    //border:1px solid red;
    margin:5px;
    background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), #aeb5c4 85%, rgba(255, 255, 255, 0));
 
}

.latest-data-div
{
   // border:1px solid red;
    margin:5px;
    padding:5px;
    background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), yellow 85%, rgba(255, 255, 255, 0));
}